<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <h1>Create product</h1>
    <a th:href="@{/}">Back to list</a>
    <form th:action="@{/create}" method="post" th:object="${product}">
        <table border="1">
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" th:field="*{price}" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" th:field="*{description}" /></td>
            </tr>
            <tr>
                <td>Producer</td>
                <td><input type="text" th:field="*{producer}" /></td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Create" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>