<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<h1>Display all product</h1>
<form th:action="@{/search}" method="post">
    <input type="text" placeholder="Enter product name" name="name">
    <input type="submit" value="search">
</form>
<a th:href="@{/create}">Create new product</a>
<br><br>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Producer</th>
        <th>Edit</th>
        <th>Delete</th>

    </tr>
    <tr th:each="product : ${products}" th:object="${product}">
        <td th:text="*{id}"></td>
        <td >
            <a th:text="*{name}" th:href="@{/view/(id=*{id})}"></a>
        </td>
        <td th:text="*{price}"></td>
        <td th:text="*{description}"></td>
        <td th:text="*{producer}"></td>
        <td>
            <a th:href="@{/update/(id=*{id})}">Update</a>
        </td>
        <td>
            <a th:href="@{/delete/(id=*{id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>