<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
    <h1>Edit product</h1>
    <a th:href="@{/}">Back to list</a>
    <form th:action="@{/update}" method="post" th:object="${product}">
        <table border="1">
            <tr>
                <td>ID</td>
                <td><input type="text" th:field="*{id}" th:value="*{id}"/></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" th:value="*{name}"/></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" th:field="*{price}" th:value="*{price}"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" th:field="*{description}" th:value="*{description}" /></td>
            </tr>
            <tr>
                <td>Producer</td>
                <td><input type="text" th:field="*{producer}" th:value="*{producer}" /></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Update" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>