<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <script src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/datatables/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatables/css/dataTables.bootstrap4.min.css">
    <script src="/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <script src="/datatables/js/dataTables.bootstrap4.min.js"></script>

    <style>
        body {
            background-image: url("/static/image/brg2.jpg");
            background-repeat: no-repeat;
            background-size: 100% auto;
        }
        .product-card:hover {
            opacity: 0.9 ;
            background: #1e7e34;
        }
        .product-card {
            background: none;
            text-decoration: none;
            border: none;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-light bg-light mb-1">
        <a class="navbar-brand text-success" th:href="@{/product/list}">PRODUCT STORE</a>
        <form method="get" action="/product/list" class="form-inline">
            <input name="key_name" class="form-control mr-sm-2" type="search" placeholder="search name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="btn btn-outline-danger" th:href="@{cart/shoppingCart}">Giỏ hàng</a>
    </nav>
    <div class="card-deck row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col mb-4" th:each="item : ${products}">
            <a th:href="@{/product/view/{id}(id=${item.id})}" class="btn btn-primary product-card">
                <div class="card" style="padding: 0; margin: 0">
                    <img th:src="@{/image/{linkimg}(linkimg=${item.linkImagel})}"
                         class="card-img-top " alt="ảnh không tồn tại hoặc đã xóa">
                    <div class="card-footer">
                        <h5 class="card-title" th:text="${item.name}" style="color: #1e7e34"></h5>
                        <br>
                        <small class="text-muted">
                            <del th:text="${item.oldPrice}"></del>
                        </small>
                        <small class="text-danger" th:text="${item.newPrice}"></small>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <a th:href="@{'/product/shop/'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/product/shop/'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>

</body>
</html>