<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Employee</title>
    <script src="/jquery/jquery-3.6.0.min.js"></script>
    <script src="/datatables/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatables/css/dataTables.bootstrap4.min.css">
    <script src="/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <script src="/datatables/js/dataTables.bootstrap4.min.js"></script>
</head>
<body >
<a style="text-decoration: none;" th:href="@{/}">
    <nav class="navbar navbar-light bg-light">
        <h1 class="navbar-brand " style="color: #1c7430; font-family: -apple-system; font-weight: bold ">FURAMA resort</h1>
    </nav>
</a>
<h2 style="text-align: center">Edit employee</h2>
<form style="width: 60%; margin: auto;" action="/employee/create" method="post" th:object="${dtoEmployee}">
    <!--        id-->
    <div class="form-group" hidden>
        <label for="exampleInputId">ID</label>
        <input type="text" class="form-control " id="exampleInputId" th:field="*{id}">
        <small style="color: red" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>
    </div>
    <!--        Name-->
    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" id="exampleInputName" th:field="*{name}">
        <small style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
    </div>
    <!--        Birtday-->
    <div class="form-group">
        <label for="exampleInputBirtday">Birtday</label>
        <input type="date" class="form-control" id="exampleInputBirtday" th:field="*{birtday}">
        <small style="color: red" th:if="${#fields.hasErrors('birtday')}" th:errors="*{birtday}"></small>
    </div>
    <!--        IdCart-->
    <div class="form-group">
        <label for="exampleInputIdCart">IdCart</label>
        <input type="number" class="form-control" id="exampleInputIdCart" th:field="*{idCard}">
        <small style="color: red" th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}"></small>
    </div>
    <!--        Salary-->
    <div class="form-group">
        <label for="exampleInputSalary">salary</label>
        <input type="number" class="form-control" id="exampleInputSalary" th:field="*{salary}">
        <small style="color: red" th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></small>
    </div>
    <!--        //Phone-->
    <div class="form-group">
        <label for="exampleInputPhone">Phone</label>
        <input type="text" class="form-control" id="exampleInputPhone" th:field="*{phone}">
        <small style="color: red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
    </div>
    <!--        //email-->
    <div class="form-group" >
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{email}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <small style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
    </div>
    <!--        //Address-->
    <div class="form-group">
        <label for="exampleInputAddress">Address</label>
        <input type="text" class="form-control" id="exampleInputAddress" th:field="*{address}">
    </div>
<!--    position -->
    <div class="form-group">
        <label for="exampleInputPosition">Position</label>
        <select class="custom-select" id="exampleInputPosition" th:field="*{position.id}">
            <option th:each="item : ${positions}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>
        <small style="color: red" th:if="${#fields.hasErrors('position')}" th:errors="*{position.id}"></small>
    </div>
    <!--    EducationDegree -->
    <div class="form-group">
        <label for="exampleInputEducationDegree">EducationDegree</label>
        <select class="custom-select" id="exampleInputEducationDegree" th:field="*{educationDegree.id}">
            <option th:each="item : ${educationDegrees}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>
        <small style="color: red" th:if="${#fields.hasErrors('educationDegree')}" th:errors="*{educationDegree.id}"></small>
    </div>
    <!--    Division -->
    <div class="form-group">
        <label for="exampleInputDivision">Division</label>
        <select class="custom-select" id="exampleInputDivision" th:field="*{division.id}">
            <option th:each="item : ${divisions}" th:value="${item.id}" th:text="${item.name}"></option>
        </select>
        <small style="color: red" th:if="${#fields.hasErrors('division')}" th:errors="*{division.id}"></small>
    </div>
    <!--        //Contract-->
    <div class="form-group">
        <label for="exampleInputContract">Contract number</label>
        <input type="text" class="form-control" id="exampleInputContract" th:field="*{contracts}">
    </div>
    <!--        //button_submit-->
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
</body>
</html>
