<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>FURAMA resort managerment</title>
    <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
    <script src="/datatables/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="/bootstrap-4.6.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/css/homeStyle.css">
    <script src="/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    <script src="/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/customerAjax.js"></script>
</head>

<body>
    <p id="message" th:text="${#request.getParameter('message')}" style="display: none"></p>
    <nav class="navbar navbar-light bg-light">
        <a style="text-decoration: none" th:href="@{/}">
            <h1 class="navbar-brand " style="color: #34675c; font-family: -apple-system; font-weight: bold ">FURAMA resort managerment</h1>
        </a>
        <nav>
            <a th:href="@{/login}" class="btn btn-outline-info">Login</a>
            <a th:href="@{/logout}" class="btn btn-outline-info">Logout</a>
        </nav>
    </nav>

    <div id="main">
        <!-- Tab items -->
        <nav class=" navbar navbar-light bg-light">
            <div class="tabs">
                <div class="tab-item active">
                    <i class="tab-icon fas fa-code"></i>
                    Employee
                </div>
                <div class="tab-item" onclick="searchCustomerByAjax();">
                    <i class="tab-icon fas fa-cog"></i>
                    Customer
                </div>
                <div class="tab-item">
                    <i class="tab-icon fas fa-plus-circle"></i>
                    Service
                </div>
                <div class="tab-item">
                    <i class="tab-icon fas fa-pen-nib"></i>
                    Contract
                </div>
                <div class="line"></div>
            </div>
        </nav>

        <!-- Tab content -->
        <div class="tab-content">
            <!------------------------------------------employee-->
            <div class="tab-pane active">
                    <form method="get" action="/employee/list" class="form-inline my-2 my-lg-0">
                        <input name="key_name" class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Search">
                        <input name="key_phoneNumber" class="form-control mr-sm-2" type="search" placeholder="Phone number" aria-label="Search">
                        <input name="key_idCard" class="form-control mr-sm-2" type="search" placeholder="ID card" aria-label="Search">
                        <input name="key_email" class="form-control mr-sm-2" type="search" placeholder="Email" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                <br>
                <div class="row row-cols-2 row-cols-md-4">
                    <div class="col mb-4  card-hover">
                        <a th:href="@{/employee/create}" style="text-decoration: none">
                            <div class="card">
                                <img src="https://t4.ftcdn.net/jpg/01/09/45/79/240_F_109457945_Xp3z6asWNQaHVsWOHRUMoK6D62l2iSr5.jpg" class="card-img-top img-hover" alt="no internet">
                                <div class="card-body">
                                    <h5 class="card-title">Add new employee</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col mb-4  card-hover">
                        <a th:href="@{/employee/list}" style="text-decoration: none">
                            <div class="card">
                                <img src="https://t3.ftcdn.net/jpg/03/52/24/32/240_F_352243237_zIWrrGamMZ300Vnuf8X3Myp7DSVA4Spt.jpg" class="card-img-top img-hover" alt="no internet">
                                <div class="card-body">
                                    <h5 class="card-title">Employee list</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!------------------------------------------customer-->
            <div class="tab-pane">
                <form method="get" action="/customer/list" class="form-inline my-2 my-lg-0">
                    <input name="key_name" class="form-control mr-sm-2" type="search" placeholder="Name" aria-label="Search">
                    <input name="key_phoneNumber" class="form-control mr-sm-2" type="search" placeholder="Phone number" aria-label="Search">
                    <input name="key_idCard" class="form-control mr-sm-2" type="search" placeholder="ID card" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <br>
                <div class="row row-cols-2 row-cols-md-4">
                    <div class="col mb-4  card-hover">
                        <a th:href="@{/customer/create}" style="text-decoration: none">
                            <div class="card">
                                <img src="https://t4.ftcdn.net/jpg/02/66/42/33/240_F_266423383_mqTkDOit8mCqPPTdkXoVUeIODmsclvkN.jpg" class="card-img-top img-hover" alt="no internet">
                                <div class="card-body">
                                    <h5 class="card-title">New customer</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col mb-4  card-hover">
                        <a th:href="@{/customer/list}" style="text-decoration: none">
                            <div class="card">

                                <img src="https://t3.ftcdn.net/jpg/03/71/89/52/240_F_371895216_sHXUBJSTz0V1k1d3NiyN44oLRM8ZY15H.jpg" class="card-img-top img-hover" alt="no internet">
                                <div class="card-body">
                                    <h5 class="card-title">Get all customer list</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!------------------------------------------service-->
            <div class="tab-pane">
<!--                create-->
                <div class="row row-cols-2 row-cols-md-4">
                    <div class="col mb-4  card-hover">
                        <a th:href="@{/service/create}" style="text-decoration: none">
                            <div class="card">
                                <img src="https://as2.ftcdn.net/v2/jpg/03/27/95/01/1000_F_327950168_ZG6h2PjSsJJjySMBbXNUofr0syKR5HoU.jpg" class="card-img-top img-hover" alt="no internet">
                                <div class="card-body">
                                    <h5 class="card-title">Create new service</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!------------------------------------------contract-->
            <div class="tab-pane">
                <div class="row row-cols-2 row-cols-md-4">
                    <div class="col mb-4 card-hover">
                        <a th:href="@{/contract/create}" style="text-decoration: none">
                            <div class="card">
                                <img src="https://t4.ftcdn.net/jpg/01/17/09/73/240_F_117097369_B5x9pvBDTDoxqbcoN2z2Pt0X2UU8x0Pz.jpg" class="card-img-top img-hover" alt="no internet">
                                <div class="card-body">
                                    <h5 class="card-title">New Contract</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col mb-4  card-hover">
                        <a th:href="@{/contract/list}" style="text-decoration: none">
                            <div class="card">
                                <img src="https://t3.ftcdn.net/jpg/02/94/26/94/240_F_294269463_MWWZOTbwJjRiiitAgGGYzjZL4WD8oni0.jpg" class="card-img-top img-hover" alt="no internet">
                                <div class="card-body">
                                    <h5 class="card-title">Contract detail list</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    let message = document.getElementById("message");

    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    const tabs = $$(".tab-item");
    const panes = $$(".tab-pane");

    const tabActive = $(".tab-item.active");
    const line = $(".tabs .line");


    tabs.forEach((tab, index) => {
        const pane = panes[index];

        tab.onclick = function () {
            $(".tab-item.active").classList.remove("active");
            $(".tab-pane.active").classList.remove("active");

            line.style.left = this.offsetLeft + "px";
            line.style.width = this.offsetWidth + "px";

            this.classList.add("active");
            pane.classList.add("active");
        };
    });

    if(message.innerText == "login") {
        alert("login thành công!");
    }
    if(message.innerText == "logout") {
        alert("logout thành công!")
    }
    if(message.innerText == "denied") {
        alert("Bạn không được cấp quyền truy cập vào trang này!")
    }

</script>
</body>
</html>