# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\codegym\A0821I1-L-ng-Quang-Huynh\module_4\_1_spring_mvc\bai_tap\usdToVnd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
