# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\codegym\A0821I1-L-ng-Quang-Huynh\module_4\_3_Form_Binding\to_khai_y_te\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
