# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\codegym\A0821I1-L-ng-Quang-Huynh\Module_3\_10_JSP_JSTL\ThucHanh\currency-converter-jsp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
